:root {
  --Primary: #2563eb;
  --Success: #22c55e;
  --Danger: #ef4444;
  --Background: #f8fafc;
  --Text: #0f172a;
}
.content .box-container {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .content .box-container {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04),
      0px 10px 15px rgba(0, 0, 0, 0.06);
  }
}
.content .box-container .box {
  background-color: #f8fafc;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  margin: 10px;
}
.content .box-container .box h3 {
  margin: 0 0 10px;
  font-size: 22px;
  color: #409ae5;
}
.content .box-container .box span {
  font-size: 18px;
  color: #777;
  font-weight: bold;
}
@media (max-width: 768px) {
  .content .box-container .box:not(:last-child) {
    border-bottom: 1px solid #a0a0a0bd;
    padding-bottom: 20px;
  }
}
